.custom-card {
  flex: 0 0 auto;
  width: 244.5px;
  height: 148px;
  padding: 16px;

  .card-icon {
    width: 21px;
    height: 21px;
    margin-bottom: 8px;
  }

  @media (max-width: 768px) {
    flex: 0 0 auto;
    width: 128px;
    height: 114px;
    padding: 8px;

    .card-icon {
      width: 16px;
      height: 16px;
    }
  }
}
