<div class="container px-3">
  <div class="d-flex flex-column align-items-center gap-3">
    <div class="card-container d-flex flex-nowrap py-4">
      <app-card *ngFor="let card of cards"
                [icon]="card.icon"
                [subtitle]="card.subtitle">
      </app-card>
    </div>

    <div class="paste-message-container">
      <textarea
        class="paste-message-input"
        placeholder="Copia y pega el mensaje sospechoso"
        disabled
      ></textarea>
      <img src="assets/icons/button-send.svg" alt="Enviar" class="upload-icon" />
    </div>
  </div>

</div>
