<header class="container-fluid py-3">
  <div class="container">
    <div class="d-flex align-items-center gap-3 justify-content-center justify-content-md-start">
      <img src="assets/images/chamacuy.svg" alt="Camucha Cuy" class="img-fluid" style="width: 65px; height: 65px;">
      <div class="d-flex flex-column">
        <h1 class="camucha-title m-0">Agente Cuy</h1>
        <p class="camucha-subtitle m-0">Observa, analiza, acierta</p>
        <span class="camucha-badge d-flex align-items-center gap-2">
          Con respaldo de <img src="assets/images/bcp-logo.svg" alt="BCP" class="img-fluid" style="width: 50px;">
        </span>
      </div>
    </div>
  </div>
</header>

