// Estilos del chat de Camucha
.camucha-chat {
  background-color: $chat-bg;
  font-size: 14px;
  font-family: $font-regular;
  color: #283847;
  padding: 10px;
  border-radius: 8px;
  white-space: pre-line
}

// Estilos del chat del usuario
.user-chat {
  background-color: $user-chat-bg;
  font-size: 14px;
  font-family: $font-medium;
  color: $user-text-color;
  padding: 10px;
  border-radius: 8px;
}


// Estilos para enlaces y etiquetas de riesgo
.chat-link {
  color: #0039a6;
  text-decoration: underline;
  word-break: break-all;
  font-weight: 500;
}

.risk-label {
  font-weight: bold;
}

.risk-value {
  color: #e60000;
  font-weight: 500;
}
