// Estilos generales de colores
.text-primary {
  color: $primary-blue;
}

.text-secondary {
  color: $secondary-blue;
}

.bg-chat {
  background-color: $chat-bg;
}

.bg-user-chat {
  background-color: $user-chat-bg;
}
