// Estilos para los textos principales
.camucha-title {
  color: $primary-blue;
  font-size: 24px;
  font-family: $font-bold;
}

.camucha-subtitle {
  color: $gray-light;
  font-size: 18px;
  font-family: $font-regular;
}

.camucha-badge {
  color: #626972;
  font-size: 12px;
  font-family: $font-light;
}
