// Tipografías
$font-bold: 'Flexo', sans-serif;
$font-regular: 'Flexo', sans-serif;
$font-light: 'Flexo', sans-serif;
$font-medium: 'Flexo', sans-serif;
$font-demibold: 'Flexo', sans-serif;

// Colores
$primary-blue: #032A88;
$secondary-blue: #003AD6;
$gray-light: #74899F;
$gray-dark: #394E62;
$chat-bg: #E1EAF4;
$user-chat-bg: $secondary-blue;
$user-text-color: #FFFFFF;
$card-text-color: $gray-dark;
$icon-color: $secondary-blue;

// Otros
$line-height-sm: 16px;
$line-height-md: 18px;
$line-height-lg: 24px;


$color-dark: #394E62;
$color-border: #E1EAF4;
$color-warning: #FFC107;
$border-radius: 38px;
